<div>
    <h1>Pagamento PG</h1>
    <form name="formPgto" class="">
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="idPgto" [(ngModel)]="pgto.id_pgto">
        </mat-form-field>
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="cont" [(ngModel)]="pgto.id_contrato">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="cli" [(ngModel)]="pgto.id_cliente">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="ref" [(ngModel)]="pgto.mes_ref">
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data Vencimento" [(ngModel)]="pgto.dt_venc">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> 

        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="dtPgto" [(ngModel)]="pgto.dt_pgto">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="mens" [(ngModel)]="pgto.valor_mensal">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="desc" [(ngModel)]="pgto.valor_desconto">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="multa" [(ngModel)]="pgto.valor_multa">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="juros" [(ngModel)]="pgto.valor_juros">
        </mat-form-field>
        
        <mat-form-field class="">
            <input matInput placeholder="informe..." type="text" name="vlrPgto" [(ngModel)]="pgto.valor_pgto">
        </mat-form-field>

    </form>
   
</div>
 <!-- 
    




    </form>
      
</div> -->
